<%= form_for([:user, @recipe]) do |f| %>
  <p>
  <%= f.label :title, "Recipe Title" %>
  <%= f.text_field :title %>
  </p>
  <%= f.fields_for :recipe_ingredients do |builder| %>
    <%= render "ingredient_fields", f: builder %>
  <% end %>
  <%= f.submit 'Create' %>
<% end %>

